<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="static/favicon.ico">
  <meta charset="UTF-8">
  <meta name="description" content="Extract aix files from aia file using this website">
  <meta name="keywords" content="Aia, Aix,Kodular,Mit Appinventor,Nitron">
  <meta name="author" content="Seshu Sai">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>404 Error</title>
  <style>
    body {
      text-align: center;
      font-family: Arial, sans-serif;
      color: #444;
      background-color: #f9f9f9;
    }
    h1 {
      font-size: 72px;
      color: #ff4136; /* red */
    }
    a {
      color: #0074d9; /* blue */
    }
  </style>

</head>
<body>
  <h1>404 Error</h1>
  <p>The page you are looking for cannot be found.</p>
  <p>Please check the URL and try again.</p>
  <a href="/">Go to Homepage</a>
</body>
</html>
